@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.search-icon-button svg {
  stroke-width: 1.5;
}

/* Scrollbar stilleri - Chrome, Safari, Edge, Yandex için */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #080099;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #080099;
}

::-webkit-scrollbar-thumb:active {
  background: #0d00ff;
}

/* Firefox için scrollbar stilleri */
@supports (scrollbar-color: #080099 #fff) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #080099 #fff;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
